{{> partials/Header}}

<main class="container">
    <h1>{{title}}</h1>

    <ul class="row pokemon-list">
        {{#each pokemons}}
            <li class="col-md-3 pokemon-item">
                <div class="pokemon">
                    <p class="pokemon-image">
                        <img src="{{this.imageUrl}}"/>
                        <p class="pokemon-id">No.{{this.pokedexId}}</p>
                        <p class="pokemon-name">{{this.name}}</p>

                    </div>
            </li>
        {{/each}}
    </ul>
</main>

{{> partials/Footer}}
