{{> partials/Header}}

<main>
    <h1>Hello {{title}}!</h1>

    <ul class="pokemon-list">
        {{#each pokemons}}
            <li class="pokemon-item">
                <div class="pokemon">
                    {{this.name}}
                </div>
            </li>
        {{/each}}
    </ul>
</main>

{{> partials/Footer}}
